.header {
    margin: 0px auto;
    margin-top: 1rem;
    border:5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 75%;
}
.button {
    font-size: large;
    background-color: black;
    color: white;
    cursor:pointer;
}
.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    width: 75%;
    height: 48%;
    border:5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.introductiontext{
    border: 1px solid black;
    width: 10px;
}
.skillsprogress{
    width: 350px;    
}
.img {
    margin-left: 25%;
    margin-bottom: 4%;
    padding-top:25px;
    width: 350px;
    height: 250px;
}