.header {
    margin: 0px auto;
    margin-top: 7rem;
    border:5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 75%;
}
.button {
    font-size: large;
    background-color: black;
    color: white;
}
.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skills{
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
    border:5px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skillstext{

}
.introductiontext{
    border: 1px solid black;
    width: 10px;
}
.skillsprogress{
    width: 350px;    
}
.img {
    margin-left: 25%;
    margin-bottom: 4%;
}