div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    width: 100%;
    height: auto;
    cursor:pointer;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
  .cardsimage {
    border-radius: 8px;
    max-height: 150px;
  }