body {
  margin: 0;
  font-family: 'Oswald', 'serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Oswald', 'serif';
}

input {
  border-radius: 3px;
}

button {
  border-radius: 3px;
}